body {
    margin: 0px;
    background-color: rgb(107, 107, 107);
    background-image: url(img/fon.png);
    color: white;
}
.header {
    background-position: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.minecraftLogo{
    height: 50px;
}
.menu-header {
    display: flex;
}
.menu-item {
    display: flex;
    align-items: center;
    margin: 10px;
}
.welcome {
 background-color: rgb(0, 0, 0);
 position: relative;   
}
.welcome-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.welcome-text {
    max-width: 500px;
    font-size: 24px;
    line-height: 30px;
    text-shadow: 4px 3px 2px black;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    
}
.buttons {
    display: flex;
    justify-content: space-between;
}
button {
    background-color: white;
    height: 60px;
    line-height: 30px;
    text-align: left;
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
    margin-left: 7px;
    margin-right: 7px;
}

.menu_3 {
    height: 50px;
    vertical-align: middle;
}
.about-about {
    display: flex;
    justify-content: center;
    
}
.about-heading {
    text-align: center;
    font-weight: normal;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.about-text {
    margin: 30px 20px;
    display: flex;
    align-items: center;
}
.about-text img {
    margin-right: 10px;
}
.head-line {
    background-color: rgb(0, 0, 0, 0.45);
    height: 30px;
    position: sticky;
    top: 15px;
}
a {
    text-align: center;
    position: relative;
    color: white; 
    left: 50%;
    justify-content: space-between;
    transform: translateX(-50%);
}
.message-form {
    border: 2px groove rgb(255, 0, 0);
    padding: 20px;
    border-radius: 10px;
    padding: 10%;
    
}
.message-form fieldset {
    border: 2px groove rgb(255, 255, 255);
}

.message-input {
    width: 300px;
    height: 30px;
}
textarea {
    resize: none;
    height: 300px;
}
.label-text {
    display: block;
}
.message-form button {
    display: block;
    border-radius: 30px;
    height: 50px;
    width: 150px;
    background-color: coral;
    color: white;
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.forma {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}